body{
    background-color : green;
    margin : auto;
    width: 85%;
}

h1{
    text-align : center;
    background-color : orangered;
    color : black;
    border-radius: 5px;
}

div#bilan {
    background-color: #ffffff;
    font-size: 20;
    font-family: "Open Sans", sans-serif;
    font-weight: bold ;  
    padding: 10px 20px 10px 20px;
    display: inline-block;
    border-radius: 5px;
}
div.droite {
    float : right;
    font-family: "Open Sans", sans-serif;
    font-weight: bold ;  
}

div.question {
    background-color: #ffffff;
    border-radius: 5px;
    clear: right;
    margin-top: 150px;
}
li {
    margin-left : 20px;
}
img.qrcode {
    float: right;
    border-radius: 5px;
}

footer {
    position: fixed;
    bottom:0px;
    width:80%;
    background-color:white;
}
ul {
    padding:0px;
}