<!DOCTYPE html>
<html lang=fr>

<head>
    <meta charset="utf-8"/>
    <!--{{refresh}}-->
    <script type="text/javascript" id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/bilan.css')}}">
    <title>Bilan</title>
</head>

<body>
    <h1>{{question}}</h1>

    <div id="bilan">
    </div>

    <div class="droite">
    {{qrcode}}<br/><br/>
        <div class="question">
        {{quest}}
        </div>
    </div>

    <footer>
        <p><a href="{{url_for('bilan')}}?q={{q}}&hidden=1">voir le bilan caché</a> &nbsp;&nbsp;&nbsp;   / &nbsp;&nbsp;&nbsp;<a href="{{url_for('bilan')}}?q={{q}}&hidden=0">voir le bilan définitif</a></p>
        <p><a href="{{url_for('bilan')}}?q={{q+1}}&hidden=1">voir le bilan suivant</a>&nbsp;&nbsp;&nbsp; / &nbsp;&nbsp;&nbsp;<a href="{{url_for('bilan')}}?q={{q-1}}&hidden=1">voir le bilan précédent</a></p>
        <p><a href="{{url_for('bilan2')}}?q={{q}}">Réinitialiser le bilan à 0</a></p>
        <p><a href="/bilan_qrtoggle?q={{q}}">afficher/cacher qrcode</a> &nbsp;&nbsp;&nbsp;   / &nbsp;&nbsp;&nbsp; <a href="/bilan_reptoggle?q={{q}}&hidden={{hide}}">afficher/cacher reponses</a></p>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<script>
    function refresh_bilan() {
    $.ajax({
      url: "/bilan_list?q={{q}}&hidden={{hide}}",
      type: "get",
      success: function(response) {
        $("#bilan").html(response);
        //console.log(response);
      },
      error: function(xhr) {
        //Do Something to handle error
      }
    });
    }
    setInterval(() => refresh_bilan(), 1000);
</script>
</body>

</html>