<!DOCTYPE html>
<html lang=fr>

<head>
    <meta charset="utf-8"/>
    <script type="text/javascript" id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <title>{{titre}}</title>
</head>

<body>
    <h1>Sondage pour le live interactif</h1>
    <form method="post" action="{{url_for('reponse')}}" >
    <p>{{question}}</p>
    <!-- les boutons radio partagent le même attribut "name" -->
    {{(quizz)}}
    <p><input type="hidden" value={{n}} name="n_quest" /></p>
    <p><input type="submit" value="Répondre" /></p>
    </form>
</body>

</html>